@using Sirius.WebEventReminder;
@{
    ViewBag.Title = "Index";
    ViewBag.Header = "Register Clubs";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("Register", "Home")){
<p>
    @Html.TextBox("email")
    @Html.DropDownList("domain", DomainList.List.Select(item => new SelectListItem { Text = item, Value = item}))
</p>
<p>
    <input type="submit" value="Register" />
</p>
}
