@using Sirius.WebEventReminder;
@{
    ViewBag.Title = "UnRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Unregister Clubs";
}

<h2>UnRegister</h2>
@if (ViewBag.Unregister)
{
    <p>Unregister succeed!</p>
    @Html.ActionLink("Back", "Unregister");
}
else
{
    using (Html.BeginForm())
    {
        @Html.TextBox("email");
        @Html.DropDownList("domain",DomainList.List.Select(item => new SelectListItem{Text = item, Value= item}));
        <input type="submit" value="Unregister" /> 
    } 
}
