<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="MessageQueueEntities" connectionString="metadata=res://*/MessageQueue.csdl|res://*/MessageQueue.ssdl|res://*/MessageQueue.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=..\App_Data\MessageQueue.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--in seconds-->
    <add key="MessageQueueScanInterval" value="10"/>
    <!--in seconds-->
    <add key="ListenerInterval" value="20"/>
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Sirius.Messaging.Data.Interfaces.IMessageDataService, Sirius.Messaging.Data.Interfaces" mapTo="Sirius.Messaging.Data.SqlCe.SqlCeMessageDataService, Sirius.Messaging.Data.SqlCe"></register>
    </container>
  </unity>
</configuration>